<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="styles_and_scripts :: imports"/>
</head>
<body>

<div th:fragment="form_modify_password">

    <h3>Change password</h3>
    <form class="post-form" th:action="@{/changePassword}" method="post">
        <div class="widef">
            <label for="oldPassword">Old password: </label>
            <input type="text" id="oldPassword" name="oldPassword"/>
        </div>
        <div class="widef">
            <label for="newPassword">New password: </label>
            <input type="text" id="newPassword" name="newPassword"/>
        </div>
        <div class="widef">
            <label for="submit"></label>
            <input type="submit" value="Change password" id="submit"/>
        </div>
    </form>

</div>
</body>
</html>




