<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="styles_and_scripts :: imports"/>
</head>
<body>

<div th:fragment="form_modify_book">

    <h3>Name and ownership</h3>
    <form class="post-form" th:action="@{/modifyBook}" method="post">
        <div class="field">
            <label for="bookName">Book name: </label>
            <input type="text" id="bookName" name="bookName" th:value="${activeBook.name}"/>
        </div>
        <div class="field">
            <label for="newOwnerName">Owner: </label>
            <input type="text" id="newOwnerName" name="newOwnerName" th:value="${activeBook.owner.name}"/>
        </div>
        <input type="text" id="bookId" name="bookId" hidden="true" th:value="${activeBook.id}"/>
        <div class="field">
            <label for="submit"></label>
            <input type="submit" value="Save changes" id="submit"/>
        </div>
    </form>

</div>
</body>
</html>