<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="styles_and_scripts :: imports"/>
</head>
<body>

<div th:fragment="view_table_permissions">

    <h3>View access permissions</h3>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Name</th>
                <th>Remove access</th>
                <th>Transfer ownership</th>
            </tr>
            <tr th:each="item : ${activeBook.readAccessSet}">
                <td><span th:text="${item.user.name}">12</span></td>
                <td>
                        <form class="post-form" th:action="@{/disableWriteAccess}" th:method="POST">
                            <input type="text" name="bookId" id="bookId" th:value="${activeBook.id}" hidden="true"/>
                            <input type="text" name="targetName" id="targetName" th:value="${item.user.name}" hidden="true"/>
                            <input type="submit" value="Remove"/>
                        </form>
                </td>
                <td>
                    <div th:if="${item.user != activeBook.owner}">
                        <form class="post-form" th:action="@{/transferOwnership}" th:method="POST">
                            <input type="text" name="bookId" id="bookId" th:value="${activeBook.id}" hidden="true"/>
                            <input type="text" name="newOwnerName" id="newOwnerName" th:value="${item.user.name}" hidden="true"/>
                            <input type="submit" value="Set owner"/>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>
</body>
</html>