<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Personal Expense Tracker</title>
    </head>
    <body>

        <h1>Personal Expense Tracker</h1>

        <span th:inline="text">Logged in as [[${#httpServletRequest.remoteUser}]]</span>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

        <form action="#" th:action="@{/postExpense}" method="POST">
            <p><label for="year">Year</label>: <input type="text" name="year" id="year"/></p>
            <p><label for="month">Month</label>: <input type="text" name="month" id="month"/></p>


            <p>
            <label for="category">Category</label>:
            <input type='text' name="category" id="category" list='listid'>
            <datalist id='listid'>
                    <option th:each="category : *{categories}" th:value="${category.name}"></option>
            </datalist>
            </input>
            </p>


            <p><label for="amountCents">AmountCents</label>: <input type="text" name="amountCents" id="amountCents"/></p>
            <input type="text" name="bookId" id="bookId" hidden="true" th:value="${book.id}"/>
            <input type="text" name="previousVersion" id="previousVersion" hidden="true"/>
            <p><input type="submit" value="Add expense" /></p>
        </form>

        <h3>Accessing book: <span th:text="${book.name}"></span></h3>

        <ul>
            <li th:each="item : ${expenses}">
                <span th:text="${item.amountCents / 100}">6</span>.<span th:text="${item.amountCents % 100}">6</span>€
                <span th:text="${item.lowestSubCategory.name}">food</span>
                <span th:text="${item.month}">12</span>/<span th:text="${item.year}">2016</span>
                <form th:action="@{/deleteExpense}" th:method="DELETE">
                    <input type="text" name="id" id="id" th:value="${item.id}" hidden="false"/>
                    <input type="submit" value="Delete"/>
                </form>
            </li>
        </ul>

        <p></p>
    </body>
</html>
