<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="fragments/styles_and_scripts :: imports"/>
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

    <p><span th:text="${flashMessage}"></span></p>

    <div th:if="${activeId}">
        <div th:include="fragments/form_new_expense :: form_new_expense"/>
        <hr/>
        <div th:include="fragments/view_table_expenses :: view_table_expenses"/>
    </div>



</div>
</body>
</html>
