<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="fragments :: imports"/>
</head>
<body>


<div th:replace="fragments :: bsnav"></div>

<div class="container">

    <h3>Add new expense</h3>

<form class="expense-post-form" action="#" th:action="@{/postExpense}" method="POST">
    <div class="field">
        <label for="year">Year</label>
        <input type="number" name="year" id="year" th:value="${user.latestInputYear}"/>
    </div>
    <div class="field">
        <label for="month">Month</label>
        <input type="number" name="month" id="month" th:value="${user.latestInputMonth}"/>
    </div>
    <div class="field">
        <label for="amountRaw">Amount</label>
        <input type="text" name="amountRaw" id="amountRaw"/>
    </div>
    <div class="field">
            <label for="category">Category</label>
            <input type='text' name="category" id="category" list='listid'>
            <datalist id='listid'>
                <option th:each="category : *{categories}" th:value="${category.name}"></option>
            </datalist>
            </input>
    </div>
        <input type="text" name="bookId" id="bookId" hidden="true" th:value="${activeBook.id}"/>
        <input type="text" name="previousVersion" id="previousVersion" hidden="true"/>
    <div class="field">
        <label for="submit"></label>
        <input type="submit" id="submit" value="Add expense" />
    </div>
</form>




    <hr/>
    <h3>
        <span th:text="(${allExpensesAreListed} ?
                        ${'All entries in ' + activeBook.name + ' sorted by date'} :
                        ${'Recent entries in ' + activeBook.name})">book
        </span>
    </h3>
    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Category</th>
                <th>Category</th>
                <th>Added on</th>
                <th>Added by</th>
                <th>Options</th>
            </tr>
            <tr th:each="item : ${expenses}">
                <td><span th:text="${item.month}">12</span>/<span th:text="${item.year}">2016</span></td>
                <td><span th:text="${item.amountCents / 100}">6</span>.<span th:text="(${item.amountCents % 100 == 0} ? '00' : ${item.amountCents % 100})">6</span>€</td>
                <td th:each="subCategory : ${item.category.parseSubCategories()}">
                    <span th:text="${subCategory}">subcategory</span>
                </td>
                <td><span th:text="${item.parseTimeAdded()}">01/02/2017</span></td>
                <td><span th:text="${item.user.name}">sarah</span></td>
                <td>
                    <form th:action="@{/deleteExpense}" th:method="DELETE">
                    <input type="text" name="id" id="id" th:value="${item.id}" hidden="false"/>
                    <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <p>
        <form th:action="@{/viewAllExpenses}" th:method="GET">
        <input type="submit" style="width:170px" id="displayAll" value="View all"/>
        </form>

    </p>
</div>
</body>
</html>
