<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <div th:include="fragments/styles_and_scripts :: imports"/>
</head>
<body>


<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">

    <p><span th:text="${flashMessage}"></span></p>

    <div th:include="fragments/form_modify_password :: form_modify_password"/>

    <div th:if="${user.role == 'ADMIN'}">
        <hr/>
        <div th:include="fragments/form_new_user :: form_new_user"/>
        <hr/>
        <div th:include="fragments/view_table_users :: view_table_users"/>
    </div>


</div>
</body>
</html>