#logo{
    position: absolute;
    right:10px;
    bottom: 10px;
}
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}
nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: #987;
    display: block;
    padding: 0.5em 2em;
    text-decoration: none;
}
.navlogout {
    /*line-height: 4.3em;*/
    line-height: 65px;
}
nav > ul > li > a:hover {
    background-color: #111;
}